.gallery-container {
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .gallery-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
        p {
            font-size: 1.2rem;
        }
    }
    .gallery {
        text-align: center;
        margin-top: 3rem;
    }
    .card-container {
        margin-top: 4rem;
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        
    }
}

