.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    .infos-content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .phone, .mail, .localisation {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 22px;
            font-weight: 600;
        }
        i {
            font-size: 20px;
        }
        .opening {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            h3 {
                font-size: 2rem;
            }
        }
    }
}
