.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;

}

.map-wrapper {
  width: 70%;
  height: 450px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  iframe {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    height: 350px;
  }
}
