
/* Style de la section avec effet parallax */
.parallax-container {
    height: 350px; /* Prend toute la hauteur de la fenêtre */
    background-attachment: fixed; /* Fixe l'image de fond par rapport à la fenêtre */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Contenu de la section */
.parallax-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 30px;
}

  