.presenting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
    background-color: #f9f9f9;
    
    padding: 5px;
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        
    }

    img{
        width: 200px;
        border-radius: 5px;
        @media (max-width: 480px) {
            display: none;
            
        }
    }
    p{
        width: 500px;
        font-size: 1.2rem;
        @media (max-width: 480px) {
            width: 100%;
            
        }
    }
}
