.presenting {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    background-color: bisque;

    img{
        width: 200px;
        border-radius: 5px;
    }
    p{
        width: 500px;
    }
}
